{{ if .IsHome }}
<link rel="canonical" href="{{ .Site.BaseURL }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ with .OutputFormats.Get "rss" }}
{{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

{{ with resources.Get "css/pico.fluid.classless.min.css" | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}

{{ with resources.Get "css/style.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}
