{{ $page := .Page }}
{{ $desc := .Desc }}

<meta property="og:site_name" content="{{ $page.Site.Title }}">
<meta property="og:title" content="{{ $page.Title }}">
<meta property="og:url" content="{{ if $page.IsHome }}{{ $page.Site.BaseURL }}{{ else }}{{ $page.Permalink }}{{ end }}">

{{ if $desc }}
<meta property="og:description" content="{{ $desc }}">
{{ end }}

{{ $type := "website" }}
{{ if eq $page.Kind "home" }}
  {{ $type = "website" }}
{{ else if and (eq $page.Type "posts") (eq $page.Kind "page") }}
  {{ $type = "article" }}
{{ else if and (eq $page.Type "authors") (eq $page.Kind "page") }}
  {{ $type = "profile" }}
{{ end }}
<meta property="og:type" content="{{ $type }}">

{{ $authorId := default $page.Site.Params.publisher $page.Params.author }}
{{ $author := index $page.Site.Data.authors $authorId }}
<meta name="article:author" content="{{ $author.name }}">

{{ if not $page.IsHome }}
<meta property="article:published_time" content="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}
<meta property="article:modified_time" content="{{ $page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">

{{ with $page.Params.tags }}
    {{ range . }}
        <meta property="article:tag" content="{{ . }}">
    {{ end }}
{{ end }}
