<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}
        {{ else }}
            {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="stylesheet" href="/css/milligram.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        {{ if .IsHome }}
        <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        {{ else }}
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ end }}
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        <p>© {{ now.Year }} {{ .Site.Title }}</p>
    </footer>
</body>
</html>
