html {
    --body-margin-top: 1em;
}

body {
    display: flex;
    flex-direction: column;

    padding-inline: 1rem;
    margin-top: var(--body-margin-top);
    height: calc(100vh - var(--body-margin-top));
}

body > main {
    flex-grow: 1;
}

body > footer > p {
    margin-bottom: inherit;
}

.site-title {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin-bottom: initial;
}