body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100ch;
    margin-inline: auto;
    padding-inline: 1rem;
}

body > main {
    flex-grow: 1;
}

body > footer > p {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: inherit;
}

article > header {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

article > :last-child {
  margin-bottom: 0;
}

p, h1, h2 {
    --pico-typography-spacing-vertical: .5rem;
}

small {
  color: var(--pico-muted-color, #666);
  font-size: .75em;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.site-title {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin-bottom: initial;
}


