body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > main {
    flex-grow: 1;
}

body > footer > p {
    margin-bottom: inherit;
}

.site-title {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    margin-bottom: initial;
}
