{{- $vars := partial "page-variables.html" . }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "@id": {{ (print .Site.BaseURL "#site") }},
    "name": {{ .Site.Title }},
    "url": {{ .Site.BaseURL }},
    "inLanguage": {{ .Site.LanguageCode }},
    "description": {{ .Site.Params.description }},
    "dateModified": {{ $vars.siteLastMod.Format "2006-01-02T15:04:05Z" }},
    "publisher": {{- partial "head-jsonld-person-part.html" (merge $vars.publisher (dict "Type" "Publisher")) -}}
}
</script>