{{- $siteLang := .Site.Language.Lang -}}
{{- $siteLangCode := .Site.LanguageCode -}}
{{- $siteURL := .Site.BaseURL -}}
{{- $siteDir  := default "ltr" .Site.Language.LanguageDirection -}}
{{- $siteLastMod := (index (sort .Site.RegularPages ".Lastmod" "desc") 0).Lastmod | default (index (sort .Site.RegularPages "Date" "desc") 0).Date -}}

{{- $pageURL := cond .IsHome .Site.BaseURL .Permalink -}}
{{- $pageTitle := default .Site.Title .Title -}}
{{- $pageDesc := .Params.description | default .Site.Params.description | truncate 160 -}}
{{ if (eq .Kind "term") }}
  {{- $pageTitle = printf "Articles avec le tag '%s'." (.Title | lower) -}}
  {{- $pageDesc = printf "Articles avec le tag '%s'." (.Title | lower) -}}
{{- else if and (eq .Type "authors") (eq .Kind "page") -}}
  {{- $pageTitle = printf "Profil de %s" .Title -}}
  {{- $pageDesc = printf "Profil de %s" .Title -}}
{{ end }}

{{- $ldType := default "WebPage" .Params.ldType -}}
{{- if and (eq .Type "posts") (eq .Kind "page") -}}
  {{- $ldType = "BlogPosting" -}}
{{- else if and (eq .Type "authors") (eq .Kind "page") -}}
  {{- $ldType = "ProfilePage" -}}
{{- else if or (eq .Kind "term") (eq .Kind "section") (eq .Kind "taxonomy") -}}
  {{- $ldType = "CollectionPage" -}}
{{- end -}}

{{ $authors := slice }}
{{ range $id, $author := site.Data.authors }}
    {{- $sameAs := slice -}}
    {{- with $author.github -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
    {{- with $author.linkedin -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
    {{- with $author.facebook -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}
    {{- with $author.website -}}{{- $sameAs = $sameAs | append . -}}{{- end -}}

    {{ $page := site.GetPage (printf "authors/%s.md" $id) }}
    {{ $enriched := dict
        "id"          $id
        "name"        $author.name
        "description" $author.description
        "github"      $author.github
        "linkedin"    $author.linkedin
        "facebook"    $author.facebook
        "website"     $author.website
        "Date"        $page.Date
        "Lastmod"     $page.Lastmod
        "Permalink"   $page.Permalink
        "Title"       $page.Title
        "sameAs"      $sameAs
    }}
    {{ $authors = merge $authors (dict $id $enriched)  }}
{{ end }}

{{- $publisher := index $authors .Site.Params.publisher -}}
{{- $author := index $authors (default .Site.Params.publisher .Params.author) -}}

{{- $items := slice -}}
{{- if or .IsHome (eq .Kind "rss") -}}
  {{- $items = sort (where .Site.RegularPages "Type" "posts") "Lastmod" "desc" -}}
{{- else if and (eq .Kind "taxonomy") (eq .Type "authors") }}
  {{- $items = sort $authors "name" "asc" -}}
{{- else -}}
  {{- $items = sort .Pages "Title" "asc" -}}
{{- end -}}

{{- return dict 
    "siteLang"          $siteLang
    "siteLangCode"      $siteLangCode
    "siteDir"           $siteDir
    "siteLastMod"       $siteLastMod
    "siteURL"           $siteURL

    "publisher"         $publisher
    "author"            $author
    
    "pageTitle"         $pageTitle
    "pageURL"           $pageURL
    "pageDesc"          $pageDesc

    "ldType"            $ldType

    "items"             $items
    "authors"           $authors
}}
