:root {
    --pico-font-size: 1.125rem;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100ch;
    margin-inline: auto;
    padding-inline: 1rem;
}

body > main {
    flex-grow: 1;
}

body > footer > p {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: inherit;
}

body > header,
article > header,
section > header
{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

body > footer p,
article > header p,
section > header p
{
    color: var(--pico-muted-color, #666);
    font-size: .75em;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

article > footer {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

article > :last-child {
  margin-bottom: 0;
}

h1, h2, h3 {
    --pico-typography-spacing-vertical: .5rem;
}

h1 {
    --pico-font-size: 1.5rem;
}

h2 {
    --pico-font-size: 1.25rem;
}

h3 {
    --pico-font-size: 1rem;
}

.site-title {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: initial;
    --pico-color: var(--pico-primary);
}

.page-title {
    --pico-font-size: 1.5rem;
    --pico-font-weight: 700;
    --pico-line-height: 1.2;
    --pico-color: var(--pico-primary);
}

.highlight pre {
    margin-bottom: 0.5rem;
}
