<p>
  <small>
    Publié le {{ .Date.Format "2 Jan 2006" }}

    {{ $separator := false }}
    {{ if and .Lastmod (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) }}
        {{ $separator = true }}
        &nbsp;·&nbsp;Mis à jour le {{ .Lastmod.Format "2 Jan 2006" }}
    {{ end }}

    {{ with .Params.tags }}
      {{ $tags := first 5 . }}
      {{ if gt (len $tags) 0 }}
        &nbsp;·&nbsp;
        {{ range $i, $tag := $tags }}
          {{ if $i }}, {{ end }}
          <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}.html">#{{ $tag }}</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </small>
</p>
